.directory
src/*.o
src/*.so
src/*.dll
src/Makevars
autom4te.cache/*
config.log
config.status
configure_
configure.ac_
old/*
deleteme/*
.Rproj.user/*
.Rproj.user
.Rhistory
vignettes_/*
real-sim
vignettes/real-sim
